* {
  font-family: 'Chewy', cursive;
  color: #3C4C78;
  
  text-align: center;
  border-radius: .5em;
  margin-left: auto;
  margin-right: auto;
  }

h1 {
  font-size: 80px;
  border: 0;
  padding: 0;
}

body {
  background: url(../pokeground.jpg);
  width: 100%;
}

table {
  width: 30%;
  font-size: 25px;
  position: relative;

}

#search {
  font-size: 25px;
}

th {
  font-size: 1.5em;
  padding: 1em;
}

form {
  font-size: 35px;
}

legend {
  font-size: 45px;
}

fieldset {
  border: none;
}