<h1>Best Pokedex Evarrr</h1>

<button id="showPokemon">Display Pokemon</button>
<button id="addPokemon">Add Pokemon</button>

<div id="results">
  <table id="pokemons">
    <thead>
      <tr>
        <th>Name</th>
        <th>Element</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div id="pokemonForm">
  <fieldset>
    <label>Add a New Pokemon</label>
    <form id="newPokemon">
      <input type="text" id="name" placeholder="Pokemon Name"><br>
      <input type="text" id="element" placeholder="Pokemon Element"><br>
      <input type="number" id="level" placeholder="Pokemon Level"><br>
      <br>
      <input type="submit" value="Submit">
    </form>
  </fieldset>
</div>